html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.button {
  border: 1px solid red;
  display: block;
  margin: 15px auto;
  font: inherit;
  padding: 8px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: darkred;
}